<html>
    <header></header>

    <body>
        <h1>Put the angle for each servo</h1>

        <form action="" method="post", action =".">
            <label>base:  <input type="text" name="base" id=""> </label>
            <br>
            <label>elbow low:  <input type="text" name="elbow high" id=""> </label>
            <br>
            <label>elbow high:  <input type="text" name="elbow low" id=""> </label>
            <br>
            <label>middle:  <input type="text" name="middle" id=""> </label>
            <br>
            <label>wrist:  <input type="text" name="wrist" id=""> </label>
            <br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>