<html>
    <header></header>

    <body>
        <h1>Put the angle for each servo</h1>

        <form action="" method="post">
            <h3>base:  <input type="text" name="base" id=""> </h3>
            <h3>elbow low:  <input type="text" name="elbow high" id=""> </h3>
            <h3>elbow high:  <input type="text" name="elbow low" id=""> </h3>
            <h3>middle:  <input type="text" name="middle" id=""> </h3>
            <h3>wrist:  <input type="text" name="wrist" id=""> </h3>
            <input type="submit" value="Send">
        </form>
    </body>
</html>